{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    
    {% if cases %}
        <div class="row">
            {% for case in cases %}
                <div class="span3">
                    <div class="thumbnail">
                        <img src="{{ MEDIA_URL }}{{ case.images }}" alt="">
                        <div class="caption">
                          <h3><a href="/corruption/{{ case.id }}">
                            {{ case.title }}
                          </a></h3>
                          <p>{{ case.date|date:" d F Y" }}</p>
                          <p>{{ case.desc|safe }}</p>
                    </div>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:5 %}
                    </div><p></p>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-info">
            Empty.
        </p>
    {% endif %}

{% endblock %}