{% extends "base.html" %}
{% block title %}User Administration{% endblock %}
{% block content %}
    
    <div class="row">
        <div class="span5">
            <h2>Users</h2>
        </div>
        
        <div class="span5 pull-right">
            <div class="row">
                <div class="span4">
                    <form method="post" class="form-search pull-right">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn">Search</button>
                    </form>
                </div>
                <div class="span1">
                    <span class="pull-right">
                        <a href="new/" class="btn btn-inverse">New</a>
                    </span>
                </div>
            </div>
        </div>
    </div> <!-- row -->
    <br>
    
    <div class="row">
        <div class="span2">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        <i class="icon-tags"></i>
                        Category
                    </li>
                    <li><a href="./?q=all">All</a></li>
                    <li><a href="./?q=active">Active</a></li>
                    <li><a href="./?q=inactive">Not Active</a></li>
                    <li><a href="./?q=admin">Admin</a></li>
                    <li><a href="./?q=staff">Staff</a></li>
                    <li><a href="./?q=user">User</a></li>
                </ul>
            </div>
        </div>
        <div class="span8">

            <table class="table table-bordered table-striped">
                <colgroup>
                    <col class="span1">
                    <col class="span1">
                    <col class="span2">
                    <col class="span1">
                    <col class="span1">
                    <col class="span1">
                    <col class="span1">
                </colgroup>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if users %}
                        {% for user in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.is_superuser %}
                                        Admin
                                    {% elif user.is_staff %}
                                        Staff
                                    {% else %}
                                        User
                                    {% endif %}
                                </td>
                                <td>{{ user.is_active }}</td>
                                <td>
                                    <a href="{{ user.id }}/"
                                        class="label label-info">
                                        <i class="icon-ok icon-white"></i>
                                        <i class="icon-remove icon-white"></i>
                                        <i class="icon-zoom-in icon-white"></i>
                                    </a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>

        </div>
        
    </div><!-- row -->

{% endblock %}
